*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #041E42;
  color: white;
}

.divider {
  border-top: 3px solid #7B68EE;
  width: 90%;
  margin: 0 auto;
}
